
{% extends "layout.html" %}
{% block body %}
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Events</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Events</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Our Events</h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-4 blog-grid one">
					<a href="single.html"><img src="images/e6.jpg" alt=""></a>
					<div class="events_info">
						<h5>Oct 12,2017</h5>
						<h4><a href="single.html">Talent Programmes</a></h4>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>

					</div>
				</div>
				<div class="col-md-4 blog-grid one">
					<a href="single.html"><img src="images/e5.jpg" alt=""></a>
					<div class="events_info">
						<h5>Oct 26,2017</h5>
						<h4><a href="single.html">Talent Programmes</a></h4>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
					</div>
				</div>
				<div class="col-md-4 blog-grid one lost">
					<a href="single.html"><img src="images/e4.jpg" alt=""></a>
					<div class="events_info">
						<h5>Nov 06,2017</h5>
						<h4><a href="single.html">Talent Programmes</a></h4>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
					</div>
				</div>
				<div class="col-md-4 blog-grid">
					<a href="single.html"><img src="images/e1.jpg" alt=""></a>
					<div class="events_info">
						<h5>Oct 12,2017</h5>
						<h4><a href="single.html">Talent Programmes</a></h4>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>

					</div>
				</div>
				<div class="col-md-4 blog-grid">
					<a href="single.html"><img src="images/e2.jpg" alt=""></a>
					<div class="events_info">
						<h5>Oct 26,2017</h5>
						<h4><a href="single.html">Talent Programmes</a></h4>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
					</div>
				</div>
				<div class="col-md-4 blog-grid lost">
					<a href="single.html"><img src="images/e3.jpg" alt=""></a>
					<div class="events_info">
						<h5>Nov 06,2017</h5>
						<h4><a href="single.html">Talent Programmes</a></h4>
						<p>Lorem ipsum dolor sit amet,vehicula vel sapien et, feugiat sapien amet.</p>
					</div>
				</div>
				<div class="clearfix"></div>

			</div>

		</div>
	</div>
	<!-- //mid-services -->

	<!-- //inner_content -->
	<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3>About Us</h3>
				<p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
					eros.
				</p>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Latest News</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque, vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque, vulputate </a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>8088 USA, Honey block, <span>New York City.</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="footer_grids">
				<div class="col-md-4 footer_grid_left">
					<h3>Sign up for our Newsletter</h3>
				</div>
				<div class="col-md-8 footer_grid_right">

					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter Email Address..." required="">
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}
