<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
	<title>Soft a Human Resource Management Category Bootstrap Responsive Web Template | Jobs :: w3layouts</title>
	<!--/tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Soft Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!--//tags -->
	<link href="{{ url_for('static',filename='css/bootstrap.css') }}" rel="stylesheet" type="text/css" media="all" />
	<link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css" media="all" />

	<link href="{{ url_for('static',filename='css/font-awesome.css') }}" rel="stylesheet">
	<!-- //for bootstrap working -->
	<link href="//fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700" rel="stylesheet">
	<link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic'
	    rel='stylesheet' type='text/css'>
</head>

<body>
	<!-- header -->
	<div class="header" id="home">
		<div class="content white agile-info">
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
						<a class="navbar-brand" href="index.html">
							<h1><span class="fa fa-signal" aria-hidden="true"></span> Soft <label>Hr Agency</label></h1>
						</a>
					</div>
					<!--/.navbar-header-->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<nav class="link-effect-2" id="link-effect-2">
							<ul class="nav navbar-nav">
								<li><a href="index.html" class="effect-3">Home</a></li>
								<li class="dropdown">
									<a href="services.html" class="dropdown-toggle effect-3" data-toggle="dropdown">Services <b class="caret"></b></a>
									<ul class="dropdown-menu">
										<li><a href="services.html">Services 2</a></li>
										<li class="divider"></li>
										<li><a href="services.html">Services 3</a></li>
										<li class="divider"></li>
										<li><a href="codes.html">Codes</a></li>
										<li class="divider"></li>
										<li><a href="icons.html">Icons</a></li>
										<li class="divider"></li>
										<li><a href="services.html">One more separated link</a></li>
									</ul>
								</li>
								<li class="dropdown active">
									<a href="jobs.html" class="dropdown-toggle effect-3" data-toggle="dropdown">Jobs<b class="caret"></b></a>
									<ul class="dropdown-menu multi-column columns-2">
										<div class="row">
											<div class="col-sm-6">
												<ul class="multi-column-dropdown">
													<li><a href="jobs.html">Walk-ins</a></li>
													<li><a href="jobs.html">Bpo Jobs</a></li>
													<li><a href="jobs.html">Teaching Jobs</a></li>
													<li><a href="jobs.html">Diploma Jobs</a></li>
													<li><a href="jobs.html">Tech Support</a></li>
													<li><a href="jobs.html">Finance Jobs</a></li>
													<li><a href="jobs.html">Part time Jobs</a></li>
													<li><a href="jobs.html">Health Care</a></li>
													<li><a href="jobs.html">Hospitality</a></li>
													<li><a href="jobs.html">Internships</a></li>
													<li><a href="jobs.html">Research Jobs</a></li>
													<li><a href="jobs.html">Defence Jobs</a></li>
												</ul>
											</div>
											<div class="col-sm-6">
												<ul class="multi-column-dropdown">
													<li><a href="login.html">Recruiter Updates</a></li>
													<li><a href="upload.html">Upload Resume</a></li>
													<li><a href="codes.html">Shortcodes</a></li>
												</ul>
											</div>
										</div>
									</ul>
								</li>
								<li><a href="events.html" class="effect-3">Events</a></li>

								<li><a href="professional.html" class="effect-3">Profesionals</a></li>
								<li><a href="contact.html" class="effect-3">Contact</a></li>
							</ul>
						</nav>
					</div>
					<!--/.navbar-collapse-->
					<!--/.navbar-->
				</div>
			</nav>
		</div>
	</div>
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Jobs</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Jobs</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Available Jobs </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					<div class="but_list">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Top Locations</a></li>
								<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Show Descriptions</a></li>
							</ul>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">IT Recruiter </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">who are so </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">Icorrupti quos </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc4.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">therefore always </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">you need to be </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#">praising pain </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid last">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#"> blame belongs  </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>

								</div>
								<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">IT Recruiter </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">who are so </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">Icorrupti quos </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc4.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">therefore always </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">you need to be </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#">praising pain </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid last">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#"> blame belongs  </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 job_info_right">

				<div class="widget_search">
					<h5 class="widget-title">Search</h5>
					<div class="widget-content">
						<span>I'm looking for a ...</span>
						<select class="form-control jb_1">
					<option value="0">Job</option>
					<option value="">Category</option>
					<option value="">Category</option>
					<option value="">Category</option>
					<option value="">Category</option>
				</select>
						<span>in</span>
						<input type="text" class="form-control jb_2" placeholder="Location">
						<input type="text" class="form-control jb_2" placeholder="Industry / Role">
						<input type="submit" value="Search">
					</div>
				</div>
				<div class="col_3 permit">
					<h3>Jobs by Category</h3>
					<ul class="list_2">
						<li><a href="#">Railway Recruitment</a></li>
						<li><a href="#">Air Force Jobs</a></li>
						<li><a href="#">Police Jobs</a></li>
						<li><a href="#">Intelligence Bureau Jobs</a></li>
						<li><a href="#">Army Jobs</a></li>
						<li><a href="#">Navy Jobs</a></li>
						<li><a href="#">BSNL Jobs</a></li>
						<li><a href="#">Software Jobs</a></li>
						<li><a href="#">Research Jobs</a></li>
					</ul>
				</div>
				<div class="col_3 experience">
					<h3>Work Experiance</h3>
					<table class="table">
						<tbody>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Senior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Middle
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col_3 permit">
					<h3>Work Permit</h3>
					<table class="table">
						<tbody>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Full time
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Part time
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //inner_content -->
	<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3>About Us</h3>
				<p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
					eros.
				</p>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Latest News</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque, vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque, vulputate </a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>8088 USA, Honey block, <span>New York City.</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="footer_grids">
				<div class="col-md-4 footer_grid_left">
					<h3>Sign up for our Newsletter</h3>
				</div>
				<div class="col-md-8 footer_grid_right">

					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter Email Address..." required="">
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="footer_w3ls">
		<div class="container">
			<div class="footer_bottom">
				<div class="col-md-9 footer_bottom_grid">
					<div class="footer_bottom1">
						<a href="index.html">
							<h2><span class="fa fa-signal" aria-hidden="true"></span> Soft <label>Hr Agency</label></h2>
						</a>
						<p>© 2017 Soft. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
					</div>
				</div>
				<div class="col-md-3 footer_bottom_grid">
					<h6>Follow Us</h6>
					<div class="social">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!-- //footer -->

	<a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!-- js -->
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
</body>

</html>
