
{% extends "layout.html" %}
{% block body %}
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Jobs</h3>
		<p>Add Some Short Description</p>

	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="index.html">Home</a><span>|</span></li>
				<li>Jobs</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle">Available Jobs </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="col-md-8 job_info_left">
					<div class="but_list">
						<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
							<ul id="myTab" class="nav nav-tabs" role="tablist">
								<li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Top Locations</a></li>
								<li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Show Descriptions</a></li>
							</ul>
							<div id="myTabContent" class="tab-content">
								<div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">IT Recruiter </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">who are so </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">Icorrupti quos </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc4.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">therefore always </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">you need to be </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#">praising pain </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid last">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#"> blame belongs  </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>

								</div>
								<div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">IT Recruiter </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">who are so </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">Icorrupti quos </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc4.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">therefore always </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc1.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="location_single.html">you need to be </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc2.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#">praising pain </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="tab_grid last">
										<div class="col-sm-3 loc_1">
											<a href="location_single.html"><img src="images/loc3.jpg" alt=""></a>
										</div>
										<div class="col-sm-9">
											<div class="location_box1">
												<h6><a href="#"> blame belongs  </a><span class="m_1">Posted 5 hours ago</span></h6>
												<p><span class="m_2">Location : </span>On the other hand, we denounce with righteous indignation and dislike men
													who are so beguiled and demoralized by the charms of pleasure</p>
												<ul class="links_bottom">
													<li><a href="location_single.html"><i class="fa fa-envelope-o icon_1"> </i><span class="icon_text"> Email this Job</span></a></li>
													<li><a href="location_single.html"><i class="fa fa-eye icon_1"> </i> <span class="icon_text">View full Job Description</span></a></li>
													<li class="last"><a href="location_single.html"><span class="icon_text">More <i class="fa fa-caret-right icon_1"> </i></span></a></li>
												</ul>
											</div>
										</div>
										<div class="clearfix"> </div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 job_info_right">

				<div class="widget_search">
					<h5 class="widget-title">Search</h5>
					<div class="widget-content">
						<span>I'm looking for a ...</span>
						<select class="form-control jb_1">
					<option value="0">Job</option>
					<option value="">Category</option>
					<option value="">Category</option>
					<option value="">Category</option>
					<option value="">Category</option>
				</select>
						<span>in</span>
						<input type="text" class="form-control jb_2" placeholder="Location">
						<input type="text" class="form-control jb_2" placeholder="Industry / Role">
						<input type="submit" value="Search">
					</div>
				</div>
				<div class="col_3 permit">
					<h3>Jobs by Category</h3>
					<ul class="list_2">
						<li><a href="#">Railway Recruitment</a></li>
						<li><a href="#">Air Force Jobs</a></li>
						<li><a href="#">Police Jobs</a></li>
						<li><a href="#">Intelligence Bureau Jobs</a></li>
						<li><a href="#">Army Jobs</a></li>
						<li><a href="#">Navy Jobs</a></li>
						<li><a href="#">BSNL Jobs</a></li>
						<li><a href="#">Software Jobs</a></li>
						<li><a href="#">Research Jobs</a></li>
					</ul>
				</div>
				<div class="col_3 experience">
					<h3>Work Experiance</h3>
					<table class="table">
						<tbody>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Senior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Middle
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Junior
								</td>
								<td>
									(56)
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col_3 permit">
					<h3>Work Permit</h3>
					<table class="table">
						<tbody>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Full time
								</td>
							</tr>
							<tr class="unread checked">
								<td class="hidden-xs">
									<input type="checkbox" class="checkbox">
								</td>
								<td class="hidden-xs">
									Part time
								</td>
							</tr>
						</tbody>
					</table>
				</div>

			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //inner_content -->
	<!-- footer -->
	<div class="footer_top_agileits">
		<div class="container">
			<div class="col-md-4 footer_grid">
				<h3>About Us</h3>
				<p>Nam libero tempore cum vulputate id est id, pretium semper enim. Morbi viverra congue nisi vel pulvinar posuere sapien
					eros.
				</p>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Latest News</h3>
				<ul class="footer_grid_list">
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque, vulputate </a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Dolor amet sed quam vitae</a>
					</li>
					<li><i class="fa fa-long-arrow-right" aria-hidden="true"></i>
						<a href="single.html" >Lorem ipsum neque, vulputate </a>
					</li>
				</ul>
			</div>
			<div class="col-md-4 footer_grid">
				<h3>Contact Info</h3>
				<ul class="address">
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>8088 USA, Honey block, <span>New York City.</span></li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>+09187 8088 9436</li>
				</ul>
			</div>
			<div class="clearfix"> </div>
			<div class="footer_grids">
				<div class="col-md-4 footer_grid_left">
					<h3>Sign up for our Newsletter</h3>
				</div>
				<div class="col-md-8 footer_grid_right">

					<form action="#" method="post">
						<input type="email" name="Email" placeholder="Enter Email Address..." required="">
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
{% endblock %}
