{% extends "layout.html" %}
{% block body %}
	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Login</h3>


	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="{{ url_for('dash')}}">Home</a><span>|</span></li>
				<li>Login</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">LogIn to your Account </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
						<form action="#" method="post">
							<input type="text" name="E_ID" placeholder="E_ID" required="">
							<input type="password" name="password" placeholder="Password" required="">
							<input type="radio" name="flag" value=1 checked> Employee<br>
						  	<input type="radio" name="flag" value=2> Applicant<br>
							<div class="tp">
								<input type="submit" value="Login">
							</div>
						</form>
						{% if str == 'Invalid' %}
						<font color = 'Red'>Invalid Credentials</font>
						{% endif %}
					</div>
					<div class="login-social-grids">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-rss"></i></a></li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
