
{% extends "layout.html" %}
{% block body %}

	<!-- banner -->
	<div class="inner_page_agile">
		<h3>Register</h3>


	</div>
	<!--//banner -->
	<!--/w3_short-->
	<div class="services-breadcrumb_w3layouts">
		<div class="inner_breadcrumb">

			<ul class="short_w3ls"_w3ls>
				<li><a href="{{ url_for('dash')}}">Home</a><span>|</span></li>
				<li>Register</li>
			</ul>
		</div>
	</div>
	<!--//w3_short-->
	<!-- /inner_content -->
	<div class="inner_content_info_agileits">
		<div class="container">
			<div class="tittle_head_w3ls">
				<h3 class="tittle three">Register Now </h3>
			</div>
			<div class="inner_sec_grids_info_w3ls">
				<div class="signin-form">
					<div class="login-form-rec">
						<form action="#" method="post" enctype = "multipart/form-data">
							<input type="text" name="name" placeholder="Full Name" required="">
							<input type="text" name="phone_no" placeholder="Phone Number" required="">
							<input type="email" name="email" placeholder="Email" required="">
							<input type="password" name="password" id="password1" placeholder="Password" required="">
							<input type="password" name="password" id="password2" placeholder="Confirm Password" required="">
							<input type="text" name="address" placeholder="Address" required="">
							<input type="text" name="op_id" placeholder="Department" required="">

							<input type = "file" name = "resume" placeholder="Link" class="form-control-file">
						<!--	<select id="country13" onchange="change_country(this.value)" class="frm-field required">
														<option value="null">Work Experience</option>
													 <option value="">Fresher</option>
														<option value="">0</option>
														<option value="">1</option>
														<option value="">2</option>
														<option value="">3</option>
														<option value="">4</option>
														<option value="">5</option>
														<option value="">6</option>
														<option value="">7</option>
														<option value="">8</option>
														<option value="">9</option>
														<option value="">10</option>
														<option value="">11</option>
														<option value="">12</option>
														<option value="">13</option>
														<option value="">14</option>
														<option value="">15</option>
										</select>
							<select id="country13" onchange="change_country(this.value)" class="frm-field required">
														<option value="null">Qualification</option>
									           <option value="">Bsc</option>
												<option value="">BTech</option>
												<option value="">Mca</option>
												<option value="">BCA</option>
												<option value="">Diploma</option>
												<option value="">Other</option>
						</select> -->
							<input type="submit" value="Register">
						</form>
					</div>
					<p class="reg"><a href="#"> By clicking register, I agree to your terms</a></p>

				</div>
			</div>
		</div>
	</div>
	{% endblock %}
